<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>

  <div *ngIf='!termsAgreed'>
    <h3>TERMS OF AGREEMENT</h3>

    <div style="text-align: left; width: 800px; align-self: centre; margin: 0 auto;">
      <li> <b> THIS IS NOT AN OFFICIAL TEST. CLEARING THIS TEST DOESN'T GIVE YOU ANY ENDORSEMENTS.</b> </li>
      <li> <b> THIS IS FOR PRACTICE AND PRACTICE ONLY! </b></li>
      <li> There are no limits. Try as many times as you want. </li>
    </div>

    <button (click)="clickEvent()">Start the test!</button>
  </div>
</div>

<div *ngIf='termsAgreed'>
  <QuestionBoard></QuestionBoard>
</div>

<router-outlet></router-outlet>