<div style="text-align: left; width: 800px; align-self: centre; margin: 0 auto;">
  <div *ngIf='!showAnswers'>
    <div class='progressDiv' style='width: 600px; align-self: centre; margin: 0 auto;'>
      <progress value={{totalQuestionsAnswered}} max={{maxNumberOfQuestions}}></progress>
    </div>

    <div>
      Question Number: {{currentQuestionNumber + 1}}
    </div>
    <Question (onAnswerChanged)="answerChanged($event)" [questionModel]='currentQuestion'></Question>
    <br />
    <br />
    <div style="text-align: left; width: 720px; align-self: centre; margin: 0 auto;">
      <table>
        <tr>
          <td> <button (click)="goToPreviousQuestion()"> Back </button> </td>
          <td> <button [disabled]="!isCurrentQuestionAnswered()" (click)="getNextQuestion()"> Next </button> </td>
        </tr>
      </table>
    </div>
  </div>

  <br />
  <div *ngIf='showAnswers'>
    <button (click)="restart()">Retry</button>
    <br />
    <div>
      Correct Answers: {{countOfCorrectAnswers}} / {{totalQuestionsAnswered}}
    </div>
    <div>
      Score: {{getScoreSoFar() | number: '1.2-2'}}
    </div>
    <table>
      <tr *ngFor='let currentQuestion of questionsAsked'>
        <td>
          <div>
            <Question [questionModel]='currentQuestion' [shouldShowExplanation]=true [isEnabled]=false></Question>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>