<div class='questionBoardMainDiv'>
  <div *ngIf='!showAnswers'>
    <div class='progressDiv'>
      <progress value="{{currentQuestionNumber + 1}}" max={{maxNumberOfQuestions}}></progress>
    </div>

    <div>
      Question Number: {{currentQuestionNumber + 1}}
    </div>
    <Question [questionModel]='currentQuestion'></Question>
    <br />
    <br />
    <div class='buttonsDiv'>
      <table class='buttonsTable'>
        <tr>
          <td> <button (click)="goToPreviousQuestion()"> Back </button> </td>
          <td> <button [disabled]="!isCurrentQuestionAnswered()" (click)="getNextQuestion()"> {{secondButtonText}}
            </button> </td>
        </tr>
      </table>
    </div>
  </div>

  <br />
  <div *ngIf='showAnswers'>
    <div class='retryButtonDiv'>
      <button (click)="restart()">Retry</button>
    </div>
    <br />
    <div class="correctAnswersDiv">
      Correct Answers: {{countOfCorrectAnswers}} / {{maxNumberOfQuestions}}
    </div>
    <div class="scoreDiv">
      Score:
      <span [ngClass]="{
        redColor : (getScore() < 75),
        greenColor : (getScore() >= 75)
      }">
        {{getScore() | number: '1.2-2'}} %
      </span>
    </div>
    <table>
      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr *ngFor='let currentQuestion of questionsAsked'>
        <td>
          <div style="margin-top: 8px">
            <Question [questionModel]='currentQuestion' [shouldShowExplanation]=true [isEnabled]=false></Question>
          </div>
          <br />
          <hr>
        </td>
      </tr>
    </table>
  </div>
</div>