.questionClass {
  font-weight: bold;
  color: black;
  font-size: larger
}

.explanationTitleClass {
  font-weight: bold;
  color: black;
  font-size: medium;
  margin-left: 12px
}

.explanationClass {
  margin-left: 12px;
}

.fullQuestionView {
  width: 100%;
}

.halfQuestionView {
  width: 50%;
}

.emptyQuestionView {
  width: 0%;
}

table tr.correctAnswer {
  background-color: #4CAF50 !important;
  color: #ffffff;
}

table tr.actualAnswer {
  background-color: rgb(172, 230, 174) !important;
  color: black;
}

table tr.wrongAnswer {
  background-color: rgb(219, 86, 33) !important;
  color: #ffffff;
}

table tr.selectedAnswer {
  background-color: rgb(86, 209, 247) !important;
  color: #ffffff;
}

table tr.highlight {
  background-color: #eeeeee !important;
  color: black;
}