<div style="text-align: left; width: 800px; align-self: centre; margin: 0 auto;">
  <table>
    <tr>
      <td colspan="2">
        <div class='questionClass'>
          {{questionModel.question}}
          <br />
          <img *ngIf='questionModel.image' src={{questionModel.image.url}} height={{questionModel.image.height}} width={{questionModel.image.width}}/>
        </div>
      </td>
    </tr>

    <tr>
      <td style="width: 400px">
        <table class="table-hover">
          <tr *ngFor='let optionAnswer of questionModel.options' (click)="answerSelected(optionAnswer)"
            (mouseover)="highlightAnswer(optionAnswer)" (mouseleave)="clearHighlightAnswer(optionAnswer)" [ngClass]="{
              selectedAnswer : (!shouldShowExplanation && optionAnswer == questionModel.usersAnswer), 
              highlight : (!shouldShowExplanation && optionAnswer == highlightedAnswer),
              correctAnswer : (shouldShowExplanation && optionAnswer == questionModel.usersAnswer && optionAnswer == questionModel.answer),
              actualAnswer : (shouldShowExplanation && optionAnswer == questionModel.answer && optionAnswer != questionModel.usersAnswer),
              wrongAnswer : (shouldShowExplanation && optionAnswer == questionModel.usersAnswer && optionAnswer != questionModel.answer)
            }">
            <div>
              <td>
                {{optionAnswer}}
              </td>
            </div>
          </tr>
        </table>
      </td>

      <td style="width: 400px">
        <div class='explanationClass' *ngIf='shouldShowExplanation'>
          {{questionModel.explanation}}
        </div>
      </td>
    </tr>
  </table>
</div>