.questionBoardMainDiv {
  text-align: left;
  width: 800px;
  align-self: centre;
  margin: 0 auto;
}

.progressDiv {
  width: 600px;
  align-self: centre;
  margin: 0 auto;
}

.buttonsDiv {
  width: 720px;
  align-self: center; 
  margin: 0 auto;
  text-align: center;
}

.buttonsTable {
  align-self: center; 
  margin: 0 auto;
}

progress {
  width: 600px;
}

.retryButtonDiv {
  width: 600px;
  align-self: center;
  margin: 0 auto;
  text-align: center;
}

button {
  height: 40px;
  font-size: 16px;
  width: 140px;
}