<div style="text-align: left; width: 800px; align-self: centre; margin: 0 auto;">
  <div>
    Correct Answers: {{countOfCorrectAnswers}} / {{totalQuestionsAnswered}}
  </div>
  <div>
    Score so far: {{getScoreSoFar() | number: '1.2-2'}}
  </div>
  <div>
    Question Number: {{currentQuestionNumber}}
  </div>
  <Question (onAnswerChanged)="answerChanged($event)" [questionModel]='currentQuestion'></Question>
  <br />
  <div style="text-align: left; width: 800px; align-self: centre; margin: 0 auto;border-top: 10px">
    {{result}}
  </div>
  <br />
  <div style="text-align: left; width: 720px; align-self: centre; margin: 0 auto;">
    <table>
      <tr>
        <td> <button (click)="goToPreviousQuestion()"> Back </button> </td>
        <td> <button [disabled]="!isCurrentQuestionAnswered()" (click)="getNextQuestion()"> Next </button> </td>
      </tr>
    </table>
  </div>
  <br />
  <div *ngIf='showAnswers'>
    <table>
      <tr *ngFor='let question1 of questionsAsked'>
        <td>
          <div>
            <Question [questionModel]='question1'></Question>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>